<div class="tm-minimal-product">
  <h1>{{ product.title }}</h1>
  <p>Price: {{ product.price | money }}</p>
  {% form 'product', product %}
    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
    <button type="submit" name="add">Add to cart</button>
  {% endform %}
</div>

{% schema %}
{
  "name": "TMolecule product",
  "tag": "section",
  "class": "tm-main-product",
  "blocks": [
    { "type": "@app" },
    { "type": "title", "name": "Title", "limit": 1 },
    { "type": "price", "name": "Price", "limit": 1 },
    { "type": "variant_picker", "name": "Variant picker", "limit": 1 },
    { "type": "buy_buttons", "name": "Buy buttons", "limit": 1 }
  ],
  "settings": []
}
{% endschema %}
