<div class="tm-minimal-product">
  <h1>{{ product.title }}</h1>
  <p>Price: {{ product.price | money }}</p>
  {% form 'product', product %}
    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
    <button type="submit" name="add">Add to cart</button>
  {% endform %}
</div>

{% schema %}
{
  "name": "TMolecule product minimal",
  "tag": "section",
  "class": "tm-main-product",
  "blocks": [
    { "type": "@app" }
  ],
  "settings": []
}
{% endschema %}
